.tableDepensesContainer{
    width: 500px;
    display: flex;
    gap: 50px;
    margin-top: 5%;
    padding: 50px;
}

.result{
    background-color: rgb(2, 2, 23);
    color: white;
}

.dataRow{
    text-align: center;
}

